[Desktop Entry]
Name=Per-App Layout
Type=Application
Icon=io.github.utrumo.CosmicExtAppletPerAppLayout-symbolic
Exec=cosmic-ext-applet-per-app-layout
Terminal=false
NoDisplay=true
Categories=COSMIC;Utility;
Keywords=keyboard;layout;language;per-app;
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
